.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .new-att-alert {
    top: 100px;
    left: 0;
    width: 100%;
    padding: 0 50px;
    position: fixed;
  }
}
